<html>
<head>
  <link href="{{ STATIC_URL }}pygmentize-default.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

Assigment: {{assignment}} <br>
User: {{user.username}} <br>
Results: ...<hr>

submission.id={{submission.id}}<br>
submission.user={{submission.user}}<br>
submission.assignment={{submission.assignment}}<br>
submission.upload_time={{submission.upload_time}}<br>
submission.upload_file={{submission.archive_path}}<br>
submission.state={{submission.state}}<br>
submission.short_desc={{submission.short_desc}}<br>
submission.grade={{submission.grade}}<br>


Errors:
{% if errors %}
  <ul>
  {% for error in errors %}
  <li> 
    err: {{ error.message }}
    <pre>{{ error.traceback }} </pre>
  </li>
  {% endfor %}
  </ul>
{% endif %}


{% load code %}
Files: {{files}}
{% if files %}
  <ul>
  {% for fname,fcontents in files.items %}
  <li>
    <b> {{fname}} </b>
    <code>
      {{ fcontents|highlight:fname|safe }}
    </code>
  </li>
  {% endfor %}
  </ul>
{% endif %}


</body>
</html>
